<section class="section client">
  <h2 class="section-title">Bill To</h2>
  <div class="client-card">
    <div class="client-name">
      Rohit Nair a.k.a. HitHuman & Mrunal Shankar
    </div>
    <div class="client-description">
      Rap reaction and live streams creatives — 16 Thumbnails
    </div>
  </div>
</section>
