<header class="header">
  <div class="logo">dzyns<span>by</span>soham</div>
  <div class="invoice-info">
    <div class="invoice-label">October 2025 Invoice</div>
    <div class="invoice-number">#HH004</div>
    <div class="invoice-date">31-10-2025</div>
  </div>
</header>
