---
import InvoiceLayout from "../layouts/InvoiceLayout.astro";

import Header from "../components/invoice/Header.astro";
import ClientSection from "../components/invoice/ClientSection.astro";
import WorkSection from "../components/invoice/WorkSection.astro";
import SummarySection from "../components/invoice/SummarySection.astro";
import Footer from "../components/invoice/Footer.astro";

import ThemeToggle from "../components/invoice/ThemeToggle.jsx";
import ScrollIndicator from "../components/invoice/ScrollIndicator.jsx";
import PaymentSection from "../components/invoice/PaymentSection.jsx";
---

<InvoiceLayout>
  <ScrollIndicator client:load />
  <ThemeToggle client:load />

  <div class="container">
    <Header />
    <ClientSection />
    <WorkSection />
    <SummarySection />
    <PaymentSection client:load />
    <Footer />
  </div>
</InvoiceLayout>
